<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.sentryConfig) { %>
        <!-- Sentry error logging to help with finding bugs -->
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
            Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
        </script>
        <!-- /Sentry -->
    <% } %>
    <script src="static/jquery-3.6.0.min.js"></script>
    <script src="./benchmark.js"></script>

    <script>
	    /*
      socket = new WebSocket("ws://localhost:8000/ws/");
      socket.onmessage = function(message) {
        var data = JSON.parse(message['data']);
        if (data['type'] == "@front") {
            var image = data["output"];
            $("#test").attr("src", "data:image/jpeg;base64," + image);
          }
        }
	*/
    </script>
  </head>
  <body>
  </body>
</html>
